/* основной файл, содержащий общие для проекта стили */
/* important стили перекрывают библиотеку MUI */

/*TODO декомпозировать стили*/

.App {
    background-color: #202124;
    display: flow-root;
}

.middle-container {
    max-width: 1000px;
    margin: 0 auto;
}

.small-input div input {
    width: 3em;
    padding: 5px !important;
    text-align: center;
}

.buttons-container {
    display: flex;
}

.form-view {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 20px;
    margin: 0 auto;
}

.form-view-half {
    width: 27vw;
}

.icon-button {
    color: green !important;
    margin-top: -8px !important;
    padding: 10px !important;
}

.icon-square-button {
    padding: 2px 10px !important;
    min-width: 0 !important;
    margin-right: 2px !important;
}

.icon-square-button span span {
    margin: 0 !important;
}

.h0 {
    color: #6C6C6C;
    font-size: 14px;
    margin-top: 6px;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
}

.form-buttons-container {
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.positive-button {
    color: #fc6c05 !important;
    margin-right: 4px !important;
    border: 1px solid #e8eaed !important;
}

.negative-button {
    color: #e8eaed !important;
}

.small-button {
    max-width: 180px;
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    border: none !important;
}

.chordPanel {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 100px);
}

.divider {
    border-left: 1px solid #e8eaed;
    margin-right: 20px;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 2px;
    background-color: #fff;
    max-height: 90vh;
    overflow: auto;
    box-shadow: 4px 3px 10px -1px rgba(0,0,0,0.58);
    -webkit-box-shadow: 4px 3px 10px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 3px 10px -1px rgba(0,0,0,0.58);
}

.modal-window-dialog {
    width: 310px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 10px 10px;
}

.modal-buttons {
    margin-left: 100px;
}

.song-description {
    max-width: 99vw;
}

.allSongsList {
    margin: 10px auto;
}

.text-container {
    background-color: #202124 !important;
    color: #e8eaed !important;
}

.MuiSvgIcon-root {
    fill: #e8eaed !important;
}

.MuiAccordion-root:before {
    background-color: #e8eaed !important;
}

.MuiPaper-elevation1{
    box-shadow: none !important;
    border: 1px solid #e8eaed;
}

.MuiFormLabel-root, .MuiInputBase-root, .MuiFormHelperText-root {
    color: #e8eaed !important;
}

.MuiButton-root.Mui-disabled {
    color: #e8eaed !important;
    opacity: 0.4;
}

.MuiInput-underline:before {
    border-bottom: 1px solid #e8eaed !important;
}